<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TFS.Server" value="http://tfs.mgsops.net"/>
    <add key="TFS.Collection" value="BankingProjectCollection" />
    <add key="TFS.Project" value="VPB Scalability"/>
    <add key="TFS.BuildDefintionId" value="84"/>
    <add key="GitLab.Server" value="http://digit.mgsops.net"/>
    <add key="GitLab.Project" value="VirtualPitBoss"/>
    <add key="GitLab.Repository" value="vpb-journey-ui"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>